.next-entity-reference-view-arrows,
.next-entity-reference-view-text {
  display: inline-block;
}

.next-entity-referent-view-arrow-prior,
.next-entity-reference-view-arrows {
  padding-right: 1em;
}

.next-entity-reference-view-prior {
  padding-right: 1em;
}

.next-entity-reference-view-no-link {
  opacity: 0.5;
}
