{#
/**
* @file
* Next Views Entity Reference Block support
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}


{{ attach_library('next_views_entity_reference/block') }}


<div {{ attributes.addClass(content['class']) }}>
  {% if content['toc'] %}
    <div class='next-entity-reference-view-toc'>
      {% set toc = content['toc']|split(':') %}
      {{ drupal_view(toc[0],toc[1]) }}
    </div>
  {% endif %}
  {% if content['style'] != 'text' %}
    {% set module_path = _self|split('/templates') %}
    <div class='next-entity-reference-view-arrows'>
      {% if content['prior']['url'] %}
        <a href='{{ content['prior']['url'] }}'
           title='{{ content['prior']['title'] }}'
        >
        <img src="/{{ module_path[0] }}/images/left.png" alt='prior' 
          class='next-entity-referent-view-arrow-prior'
        />
        </a>
      {% else %}
        <img src="/{{ module_path[0] }}/images/left.png" alt='prior'
          class='next-entity-referent-view-arrow-prior next-entity-reference-view-no-link'
        />
      {% endif %}
      {% if content['next']['url'] %}
        <a href='{{ content['next']['url'] }}'
           title='{{ content['next']['title'] }}'
        >
        <img src="/{{ module_path[0] }}/images/right.png" alt='next' 
          class='next-entity-referent-view-arrow-next'
        />
        </a>
      {% else %}
        <img src="/{{ module_path[0] }}/images/right.png" alt='next' 
          class='next-entity-referent-view-arrow-nexti next-entity-reference-view-no-link'
        />
      {% endif %}
    </div>
  {% endif %}
  {% if content['style'] != 'arrows' %}
    <div class='next-entity-reference-view-text'>
      <div class='{{ content['prior']['class'] }}'>
       {% if content['prior']['url'] %}
         <a href='{{ content['prior']['url'] }}'>{{ content['prior']['prompt']|raw }}</a>
       {% else %}
         <div>{{ content['prior']['prompt']|raw }}</div>
       {% endif %}
      </div>
      <div class='{{ content['next']['class'] }}'> 
       {% if content['next']['url'] %}
         <a href='{{ content['next']['url'] }}'>{{ content['next']['prompt']|raw }}</a>
       {% else %}
         <div>{{ content['next']['prompt']|raw }}</div>
       {% endif %}
      </div>
    </div>
  {% endif %}
</div>
